$xxl-screen-size: 1400px;
$xl-screen-size: 1200px;
$lg-screen-size: 1000px;
$md-screen-size: 800px;
$sm-screen-size: 600px;
$xs-screen-size: 400px;

$base: black;
$level-1: #181823;
$light-grey: #8491a0;
$dark-grey: #5b6876;
$text: white;
$primary: #5221e6;
$blue-accent: #609bff;
$green-accent: #3cc74e;
$pink-accent: #e95d90;
$peach-accent: #fff3e4;
$violet-accent: #fff3e4;
$yellow-accent: #fefe22;
